html, body{
margin: 0;
padding: 0;
height: 100%;
background-color: #2B2B2B;
color: #777;
}

header{
height: 40px;
width: 100%;
background-color: blue;
}

#container { width: 900px; text-align: left; margin: 0px auto; }
#dateInput { width: 150px; }

#paper1{
height: 100%;
width: 100%;
}

#controls{
    clear: both;
    border: 1px groove #aaaaaa;
    background: red;
    color: White;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    margin: 0;
    position: fixed;
    bottom: 0px;
    height: 10px;
    width: 100%;
}
input {
    border: 1px solid #111;
    padding: 0.5em;
    font-size: 15px;
    line-height: 1.2em;
    width: 80%;
    background: #444;
    color: #fff;
    font-family: helvetica, sans-serif;
    background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#444));
    -webkit-appearance: none;
    /*box-shadow*/
    -webkit-box-shadow: 1px 1px 1px #333;
    -moz-box-shadow: 1px 1px 1px #333;
    box-shadow: 1px 1px 1px #333;
}

fieldset{
border:0;
}

input[type=text] { 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.12, #333));
    background: -moz-gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.12, #333));
    background: -o-gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.12, #333));
    background: -ms-gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.12, #333));
    background:  gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.12, #333));
}
