html, body{
margin: 0;
padding: 0;
height: 100%;
}

header{
height: 40px;
width: 100%;
background-color: blue;
}

#paper1{
background-color: green;
height: 100%;
width: 100%;
}

footer{
height: 40px;
width: 100%;
background-color: grey;
  position: absolute;
    bottom: 0;
}
